h1 {
  color: rgb(201, 51, 51);
  text-align: center;
  margin-bottom: 7px;
  margin-top: 3px;
}

h2 {
  margin-top: 5px;
  margin-bottom: -5px;
}

p {
  margin: 3px;
}

.app {
  background-color: rgb(218, 246, 255);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 3px solid rgb(0, 50, 126);
  width: 230px;
  border-radius: 14px;
  padding-bottom: 10px;
}

.city-zipcode {
  position: absolute;
  color: rgb(27, 27, 27);
  text-align: center;
  left: 11px;
  top: 43px;
}

.city-field {
  text-align: center;
  padding: 4px 0px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border: 2px solid;
  border-color: rgb(111, 111, 111);
}

.submit-btn {
  margin-left: -8px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  padding: 4px 10px;
  border: 2px solid;
  border-color: rgb(111, 111, 111);
  transition: transform 0.3s;
  transform: scale(1);
}

.clicked {
  transform: scale(0.95);
}

.submit-btn:hover {
  cursor: pointer;
}

.display-header {
  text-align: center;
}

.description-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  height: 80px;
  width: 80px;
}

.description {
  font-family: sans-serif;
  font-weight: 500;
  font-size: 17px;
  text-align: center;
  margin-right: 10px;
  margin-left: 3px;
  margin-top: 9px;
}

.icon {
  position: relative;
  top: 8px;
  right: 2px;
}
